body{
  color:white;
  background-color:black;
  background-image:url(../img/background.jpg);
  background-repeat:no-repeat;
  background-attachment:fixed;
  margin:0px;
  padding:0px;
}

ARTICLE {
    text-align: center;
}

UL {
    list-style-type: none;
}

ARTICLE > UL > LI {
    margin: 20px;
}

NAV > UL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
}

NAV > UL > LI {
    flex-grow: 1;
}

LI A {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

LI A:hover {
    background-color: #111;
}

#banner {
    max-width: 100%;
    width: auto;
    height:auto;
}

#title {
   font-size: 24pt;
}
