
body{
  color:white;
  background-color:black;
  background-image:url(../img/background.jpg);
  background-repeat:no-repeat;
  margin:0px;
  padding:0px;
}

ARTICLE {
    text-align: center;
}

NAV > UL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
}

LI {
    flex-grow: 1;
}

LI A {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

LI A:hover {
    background-color: #111;
}

#banner {
    max-width: 100%;
    width: auto;
    height:auto;
}


input {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #444444;
    color:white;
}

@keyframes hover {
    from { background-color: #444444;}
    to {background-color: #2050F5;}
}

input[type=submit]:hover {
    background-color: #2050F5;
    animation-name:hover;
    animation-duration: 1s;
}
