body{
  color:white;
  background-color:black;
  background-image:url(../img/background.jpg);
  background-repeat:no-repeat;
  background-attachment: fixed;
  margin:0px;
  padding:0px;
}

ARTICLE {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

FORM {
    background-color: rgba(20, 20, 20, .9);
    border: 1px solid white;
    text-align: center;
    margin: 5%;
}

FORM > UL {
    padding:5px;
    padding-top:0;
}

UL {
    list-style-type: none;
}

NAV > UL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
}

NAV > UL > LI {
    flex-grow: 1;
}

LI A {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

LI A:hover {
    background-color: #111;
}

#banner {
    max-width: 100%;
    width: auto;
    height:auto;
}

.title {
    background: none;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
}

@keyframes hover {
    from { background-color: rgba(0, 0, 0, 0);}
    to {background-color: #2050F5;}
}

.title:hover {
    background-color: #2050F5;
    animation-name: hover;
    animation-duration: 1s;
}

.cover {
    width:300px;
    height:300px;
}
